[user]
  name = olli
  email = 1403501+werme@users.noreply.github.com
[hub]
	protocol = https
[alias]
  a = add
  st = status
  df = diff
  ci = commit
  co = checkout
  br = branch
  shrug = commit -m '¯\\_(ツ)_/¯'
  flip  = commit -m '(╯°□°)╯︵ ┻━┻'
  dab   = commit -m 'ㄥ(⸝ ، ⸍ )‾‾‾‾‾'
  
  sl = log --decorate --color --abbrev-commit --all --pretty=oneline
  l  = log --decorate --color --abbrev-commit --all --graph 
  
  brsort = for-each-ref --sort='authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
  
  amend = commit --amend --no-edit
  wip = commit -m "wip"
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore_global
	editor = vi
[apply]
  whitespace = fix
[merge]
  conflictstyle = diff3
  tool = vimdiff3
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  default = simple
[pull]
  ff = only
