[user]
  name = olli
  email = 1403501+werme@users.noreply.github.com
[hub]
	protocol = https
[alias]
  a = add
  st = status
  df = diff
  ci = commit
  co = checkout
  br = branch
  shrug   = commit -m '¯\\_(ツ)_/¯'
  flip    = commit -m '(╯°□°)╯︵ ┻━┻'
  dab     = commit -m 'ㄥ(⸝ ، ⸍ )‾‾‾‾‾'
  noggles = commit -m '⌐◨-◨'
  
  sl = log --decorate --color --abbrev-commit --all --pretty=oneline
  l  = log --decorate --color --abbrev-commit --all --graph 
  
  brsort = for-each-ref --sort='authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
  
  amend = commit --amend --no-edit
  wip = commit -m "wip"
	checkpoint = commit -m \"checkpoint: staged changes\"
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore_global
  editor = zed --wait # nvim
  # pager = delta
[interactive]
  # diffFilter = delta --color-only # for delta?
[diff]
  # colorMoved = default # for delta?
[delta]
  navigate = true    # use n and N to move between diff sections
  # side-by-side = true
  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
[apply]
  whitespace = fix
[merge]
  conflictstyle = diff3
  tool = vimdiff3
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  default = simple
  autoSetupRemote = true
[pull]
  ff = only
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
